body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fde0c9;
    color: #333;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 2rem;
    background-color: #FFF8DC;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #4A4A4A;
}

.project-info {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 800;
}

.group-info {
    text-align: center;
    color: #6B8E23;
    margin-bottom: 2rem;
    font-weight: 400;
}

.input-section, .output-section {
    background: #FFFFFF;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
}

input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #DDD;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #6B8E23;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #556B2F;
}

#cacheSnapshot {
    border: 1px solid #DDD;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #F8F8F8;
    border-radius: 4px;
}

.output-section p {
    margin: 0.5rem 0;
}

.output-section span {
    font-weight: bold;
    color: #4A4A4A;
}


.simulation-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.memory-sequence {
    width: 40%;
}

#simulationProcess {
    width: 55%;
}

.memory-sequence table {
    width: 100%;
    border-collapse: collapse;
}

.memory-sequence th, .memory-sequence td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.memory-sequence th {
    background-color: #6B8E23;
    color: white;
}

.memory-sequence tr:nth-child(even) {
    background-color: #f2f2f2;
}
